# archivos
requisitos.txt
/Java/Ejercicio_1/nbproject/private/
/Java/Ejercicio_2/nbproject/private/
/Java/**/nbproject/private/
/Java/Leccion1/nbproject/private/
/Java/Ejercicio_2/build/
/Java/Leccion1/Introduccion/build/
/Java/Ejercicio_3/build/
/Java/Ejercicio_4/build/
/Java/Ejercicio_6/build/
/Java/Ejercicio_7/build/

Java/Ejercicio_1/nbproject/private/private.xml
/Java/CondicionalEjercicio1/build/
/Java/Leccion2/build/
/Java/CondicionalEjercicio2/build/
/Java/CondicionalEjercicio3/build/
/Java/ej_tema3/build/
/Java/Leccion2/CicloWhile/build/
.Rproj.user
/Java/Leccion3/Ciclos03/build/
/Java/Leccion3/EjercicioCiclo06/build/
/Java/Leccion3/EjercicioCiclos07/build/
/Java/Leccion3/LeccionClasesObjetos/build/
